Repository go-prism/prism3: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core, batch, goproxy, web

core:
  trigger:
    strategy: depend
    include: .gitlab/ci/core.gitlab-ci.yml

batch:
  trigger:
    strategy: depend
    include: .gitlab/ci/batch.gitlab-ci.yml

goproxy:
  trigger:
    strategy: depend
    include: .gitlab/ci/goproxy.gitlab-ci.yml

web:
  trigger:
    strategy: depend
    include: .gitlab/ci/web.gitlab-ci.yml

added missing licence
  web/src/generated/graphql.tsx
Due: web

[core] added support for HEAD requests to simple API - fixes Maven failures [core] updated dependencies
  batch/deployments/batch.yaml
  core/cmd/core/main.go
  core/deployments/core.yaml
  core/go.mod
  core/go.sum
  core/internal/api/v1/helm.go
  core/internal/api/v1/pypi.go
  core/internal/api/v1/rest.go
  core/internal/resolver/simple.go
  core/internal/resolver/types.go
  core/pkg/db/db.go
  goproxy/deployments/goproxy.yaml
  web/src/containers/route/overview/BrowserToolbar.tsx
Due: core, batch, goproxy, web

[goproxy] updated dependencies
  goproxy/deployments/goproxy.yaml
  goproxy/go.mod
  goproxy/go.sum
Due: goproxy

[batch] updated dependencies
  batch/cmd/batch/main.go
  batch/deployments/batch.yaml
  batch/go.mod
  batch/go.sum
Due: batch

[chart] updated probes
  charts/prism/Chart.yaml
  charts/prism/templates/deployment-batch.yaml
  charts/prism/templates/deployment-core.yaml
  charts/prism/templates/deployment-goproxy.yaml
Due: none

updated CI to use Semgrep
  .gitlab-ci.yml
  .gitlab/ci/batch.gitlab-ci.yml
  .gitlab/ci/core.gitlab-ci.yml
  .gitlab/ci/goproxy.gitlab-ci.yml
  .gitlab/ci/web.gitlab-ci.yml
Due: core, batch, goproxy, web

updated builds to use Ko
  .gitlab/ci/batch.gitlab-ci.yml
  .gitlab/ci/core.gitlab-ci.yml
  .gitlab/ci/goproxy.gitlab-ci.yml
Due: core, batch, goproxy

fixed syntax error
  .gitlab/ci/batch.gitlab-ci.yml
  .gitlab/ci/core.gitlab-ci.yml
  .gitlab/ci/goproxy.gitlab-ci.yml
Due: core, batch, goproxy

fixed probe configuration
  .gitlab/values/batch.yaml
  .gitlab/values/core.yaml
  .gitlab/values/goproxy.yaml
Due: core, batch, goproxy

Add new file
  .gitlab/agents/kube2-prism/config.yaml
Due: none

[skip ci] Update config.yaml
  .gitlab/agents/kube2-prism/config.yaml
Due: none

[skip ci] enabled logging
  .gitlab/agents/kube2-prism/config.yaml
Due: none

Path conditions:
  core: any of: core/**/*, .gitlab/ci/core.gitlab-ci.yml, .gitlab/values/core.yaml, .gitlab-ci.yml
  batch: any of: batch/**/*, .gitlab/ci/batch.gitlab-ci.yml, .gitlab/values/batch.yaml, .gitlab-ci.yml
  goproxy: any of: goproxy/**/*, .gitlab/ci/goproxy.gitlab-ci.yml, .gitlab/values/goproxy.yaml, .gitlab-ci.yml
  web: any of: web/**/*, .gitlab/ci/web.gitlab-ci.yml, .gitlab/values/web.yaml, .gitlab-ci.yml
