Repository go-prism/prism3: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core, batch, goproxy, web

core:
  trigger:
    strategy: depend
    include: .gitlab/ci/core.gitlab-ci.yml

batch:
  trigger:
    strategy: depend
    include: .gitlab/ci/batch.gitlab-ci.yml

goproxy:
  trigger:
    strategy: depend
    include: .gitlab/ci/goproxy.gitlab-ci.yml

web:
  trigger:
    strategy: depend
    include: .gitlab/ci/web.gitlab-ci.yml

[web] added preference option to switch between Artifact list/tree [web] fixed markdown links breaking test [web] reduced the width of the documentation container [web] added Go doco
  web/src/components/Documentation.tsx
  web/src/config/constants.ts
  web/src/containers/layout/StandardLayout.tsx
  web/src/containers/route/Help.tsx
  web/src/containers/route/overview/Browser.tsx
  web/src/containers/route/user/UserPreferences.tsx
  web/src/containers/widgets/Flexbox.tsx
  web/src/docs/framework-go.md
  web/src/docs/overview.md
Due: web

[core] partial RBAC implementation (see #37) [web] reworked ACL components [ci] removed hardcoded NPM registries
  .gitlab/ci/web.gitlab-ci.yml
  batch/go.mod
  core/cmd/core/main.go
  core/go.mod
  core/go.sum
  core/internal/graph/generated/generated.go
  core/internal/graph/model/models_gen.go
  core/internal/graph/resolver.go
  core/internal/graph/schema.graphqls
  core/internal/graph/schema.resolvers.go
  core/internal/permissions/manager.go
  core/internal/permissions/types.go
  core/pkg/db/db.go
  core/pkg/db/repo/rbac.go
  core/pkg/db/repo/types.go
  core/pkg/db/repo/user.go
  core/pkg/db/repo/wire.go
  deployments/core.yaml
  deployments/k8s-rbac.yaml
  goproxy/go.mod
  web/graphql.schema.json
  web/src/containers/route/acl/CreateRoleBinding.tsx
  web/src/containers/route/acl/ResourceRoleViewer.tsx
  web/src/containers/route/acl/index.tsx
  web/src/containers/route/refract/Edit.tsx
  web/src/containers/route/remote/Edit.tsx
  web/src/containers/route/remote/options/FirewallRules.tsx
  web/src/generated/graphql.tsx
  web/src/graph/actions/rbac.graphql
  web/src/utils/format.ts
Due: core, batch, goproxy, web

[core] added endpoint to allow the current user to probe their RBAC [web] some elements are now hidden when the user doesn't have the appropriate permissions
  core/go.mod
  core/go.sum
  core/internal/graph/generated/generated.go
  core/internal/graph/model/models_gen.go
  core/internal/graph/schema.graphqls
  core/internal/graph/schema.resolvers.go
  web/graphql.schema.json
  web/src/config/constants.ts
  web/src/containers/SideBar.tsx
  web/src/containers/route/acl/CreateRoleBinding.tsx
  web/src/containers/route/refract/Edit.tsx
  web/src/containers/route/remote/Edit.tsx
  web/src/generated/graphql.tsx
  web/src/graph/actions/rbac.graphql
  web/src/hooks/useRBAC.tsx
  web/src/utils/remote.tsx
Due: core, web

fixed network policy issues [core] added missing env updated prometheus metrics names
  .gitlab/values/batch.yaml
  .gitlab/values/core.yaml
  .gitlab/values/goproxy.yaml
  core/internal/api/v1/metrics.go
  core/internal/permissions/metrics.go
  core/internal/policy/metrics.go
  core/pkg/remote/metrics.go
  core/pkg/storage/metrics.go
  goproxy/internal/cache/metrics.go
Due: core, batch, goproxy

[core] added gRPC OpenTelemetry integration [core] added missing Go gateway metrics
  core/cmd/core/main.go
  core/go.mod
  core/go.sum
  core/internal/api/v1/go.go
  deployments/core.yaml
Due: core

[core] updated Go gateway metrics
  core/internal/api/v1/go.go
Due: core

[core] improved a number of prometheus metrics [core] added prometheus middleware [goproxy] added prometheus middleware
  core/cmd/core/main.go
  core/go.mod
  core/go.sum
  core/pkg/remote/backed.go
  core/pkg/remote/ephemeral.go
  core/pkg/remote/metrics.go
  goproxy/cmd/goproxy/main.go
  goproxy/go.mod
  goproxy/go.sum
  goproxy/vendor/github.com/djcass44/go-utils/otel/metrics/middleware.go
  goproxy/vendor/gitlab.com/go-prism/prism3/core/pkg/storage/metrics.go
  goproxy/vendor/modules.txt
Due: core, goproxy

[core] fixed panic when capturing http client metrics
  core/pkg/remote/ephemeral.go
Due: core

[web] minor improvements to form visuals [web] disabled refract/remote form fields if the user doesn't have appropriate privileges
  web/src/components/feedback/InlineBadge.tsx
  web/src/containers/route/acl/ResourceRoleViewer.tsx
  web/src/containers/route/refract/Create.tsx
  web/src/containers/route/refract/Edit.tsx
  web/src/containers/route/remote/Create.tsx
  web/src/containers/route/remote/Edit.tsx
  web/src/containers/route/remote/options/RestrictedHeaders.tsx
  web/src/containers/route/remote/options/TransportOpts.tsx
Due: web

[web] fixed some minor console errors [web] refract/remote settings are now wrapped in an error boundary
  web/src/components/modal/TextEntryModal.tsx
  web/src/containers/route/acl/ResourceRoleViewer.tsx
  web/src/containers/route/refract/Edit.tsx
  web/src/containers/route/remote/Edit.tsx
Due: web

[core] fixed panic due to concurrent map writes [web] updated package-lock.json
  core/pkg/quota/bandwidth.go
  core/pkg/quota/types.go
  web/package-lock.json
Due: core, web

Updated go-utils dependencies Enabled linkerd2 support for local development
  batch/cmd/batch/main.go
  batch/go.mod
  batch/go.sum
  batch/vendor/github.com/djcass44/go-utils/logging/middleware.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/quota/bandwidth.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/quota/types.go
  batch/vendor/golang.org/x/net/http2/writesched_priority.go
  batch/vendor/modules.txt
  core/cmd/core/main.go
  core/go.mod
  core/go.sum
  deployments/batch.yaml
  deployments/core.yaml
  deployments/goproxy.yaml
  deployments/k8s-pod.yaml
  deployments/postgresql.yaml
  deployments/redis.yaml
  deployments/web-proxy.yaml
  goproxy/cmd/goproxy/main.go
  goproxy/go.mod
  goproxy/go.sum
  goproxy/vendor/github.com/djcass44/go-utils/logging/middleware.go
  goproxy/vendor/github.com/djcass44/go-utils/otel/metrics/middleware.go
  goproxy/vendor/golang.org/x/net/http2/writesched_priority.go
  goproxy/vendor/modules.txt
Due: core, batch, goproxy

[web] added reload button to error boundary [web] updated vite dependencies
  web/package-lock.json
  web/package.json
  web/src/containers/alert/Error.tsx
  web/src/containers/route/Dashboard.tsx
  web/vite.config.ts
Due: web

[core] added basic class B network observation for the goproxy (closes #43)
  core/cmd/core/main.go
  core/internal/api/v1/generic.go
  core/internal/api/v1/go.go
  core/internal/api/v1/rest_test.go
  core/internal/api/v1/types.go
Due: core

[core] network observer now exports metrics [core] fixed concurrent write issue in the network observer [core] reworked how Go bandwidth metrics are captured (see #43)
  core/internal/api/v1/go.go
  core/pkg/quota/bandwidth.go
  core/pkg/quota/metrics.go
  deployments/k8s-pod.yaml
Due: core

[chart] improved integration between redis and postgresql dependencies [chart] added KUBERNETES_NAMESPACE env to all pods
  charts/prism/Chart.lock
  charts/prism/Chart.yaml
  charts/prism/ci/minimal.yaml
  charts/prism/templates/_helpers.tpl
  charts/prism/templates/deployment-batch.yaml
  charts/prism/templates/deployment-core.yaml
  charts/prism/templates/deployment-goproxy.yaml
  charts/prism/templates/deployment-web.yaml
  charts/prism/templates/secret-core.yaml
  charts/prism/values.yaml
Due: none

[chart] fixed a minor templating issue Updated README
  README.md
  charts/prism/README.md
  charts/prism/ci/minimal.yaml
  charts/prism/templates/secret-core.yaml
Due: none

[skip ci] updated README.md
  DEVELOPING.md
  README.md
Due: none

[chart] added support for external secrets
  charts/prism/Chart.yaml
  charts/prism/templates/_helpers.tpl
  charts/prism/templates/deployment-batch.yaml
  charts/prism/templates/deployment-core.yaml
  charts/prism/templates/secret-core.yaml
  charts/prism/templates/secret-oidc.yaml
  charts/prism/values.yaml
Due: none

[skip ci] [chart] added rbac sidecar
  charts/prism/Chart.yaml
  charts/prism/templates/deployment-core.yaml
  charts/prism/templates/secret-rbac.yaml
  charts/prism/values.yaml
Due: none

Added missing /tmp volume mounts
  .gitlab/values/core.yaml
  charts/prism/templates/deployment-core.yaml
Due: core

[core] added retry config for RBAC gRPC client
  core/cmd/core/grpc.json
  core/cmd/core/main.go
Due: core

[core] added tests for direct authentication (closes #30)
  core/pkg/httpclient/backed.go
  core/pkg/remote/backed.go
  core/pkg/remote/backed_test.go
Due: core

[core] fixed partitioned artifact entries being created (closes #31)
  core/pkg/remote/backed.go
Due: core

[web] BrowserList now shows a loading indicator [web] improved TransportOpts loading indicator [web] added sample URLs during Remote creation
  web/src/config/constants.ts
  web/src/containers/route/overview/BrowserList.tsx
  web/src/containers/route/remote/Create.tsx
  web/src/containers/route/remote/options/TransportOpts.tsx
Due: web

[web] added some extra documentation
  web/src/containers/route/refract/Edit.tsx
  web/src/containers/route/remote/Edit.tsx
  web/src/docs/admin-overview.md
  web/src/docs/framework-helm.md
  web/src/docs/install-requirements.md
  web/src/docs/overview.md
  web/src/docs/remote-settings-readonly.md
Due: web

[web] added initial RBAC doco
  web/src/containers/route/acl/ResourceRoleViewer.tsx
  web/src/docs/configure-rbac.md
  web/src/docs/user-overview.md
Due: web

[skip ci] [chart] removed incorrect envFrom::prefix value
  charts/prism/Chart.yaml
  charts/prism/templates/deployment-batch.yaml
  charts/prism/templates/deployment-core.yaml
  charts/prism/templates/deployment-goproxy.yaml
Due: none

[skip ci] [chart] fixed incorrect registry var
  charts/prism/templates/deployment-batch.yaml
Due: none

[skip ci] [chart] fixed incorrect probe port
  charts/prism/templates/deployment-core.yaml
Due: none

[skip ci] [chart] fixed incorrect OIDC env var
  charts/prism/templates/deployment-core.yaml
Due: none

[core] fixed an issue causing firewall rules to not be loaded (closes #44) [core] added more tests [chart] fixed default redis addr not including port
  charts/prism/Chart.yaml
  charts/prism/templates/secret-core.yaml
  core/go.mod
  core/go.sum
  core/internal/graph/model/hooks.go
  core/internal/policy/remote.go
  core/internal/policy/remote_test.go
  core/internal/resolver/simple_test.go
  core/pkg/remote/backed_test.go
Due: core

[core] fixed a number of issues causing error propagation to not work correctly (closes #47) [chart] added ServiceMonitor
  batch/vendor/gitlab.com/go-prism/prism3/core/internal/graph/model/hooks.go
  batch/vendor/gitlab.com/go-prism/prism3/core/internal/policy/remote.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/db/repo/artifact.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/db/repo/bandwidth.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/db/repo/err.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/db/repo/helm.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/db/repo/npm.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/db/repo/pypi.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/db/repo/refract.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/db/repo/remote.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/db/repo/transport.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/db/repo/user.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/httpclient/backed.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/remote/backed.go
  charts/prism/Chart.yaml
  charts/prism/ci/production.yaml
  charts/prism/templates/service-core.yaml
  charts/prism/templates/service-goproxy.yaml
  charts/prism/templates/service-web.yaml
  charts/prism/templates/servicemonitor-core.yaml
  charts/prism/templates/servicemonitor-goproxy.yaml
  charts/prism/templates/servicemonitor-web.yaml
  charts/prism/values.yaml
  core/internal/refract/refract.go
  core/internal/refract/refract_test.go
  core/internal/refract/types.go
  core/internal/resolver/simple.go
  core/pkg/db/repo/artifact.go
  core/pkg/db/repo/bandwidth.go
  core/pkg/db/repo/err.go
  core/pkg/db/repo/helm.go
  core/pkg/db/repo/npm.go
  core/pkg/db/repo/pypi.go
  core/pkg/db/repo/refract.go
  core/pkg/db/repo/remote.go
  core/pkg/db/repo/transport.go
  core/pkg/db/repo/user.go
Due: core, batch

[goproxy] updated Dockerfile to use Go 1.19 [web] fixed scrolling issues in the SidebarLayout.tsx [web] disabled GraphQL caching to avoid stale data (closes #45) fixed some deployment issues
  .dockerignore
  deployments/core.yaml
  deployments/k8s-ns.yaml
  goproxy/Dockerfile
  skaffold.yaml
  web/src/containers/layout/SidebarLayout.tsx
  web/src/containers/list/ExpandableListItem.tsx
  web/src/graph/index.ts
Due: goproxy, web

[web] total bandwidth is now included [core] added endpoint to fetch total bandwidth
  core/internal/graph/generated/generated.go
  core/internal/graph/schema.graphqls
  core/internal/graph/schema.resolvers.go
  core/pkg/db/repo/bandwidth.go
  web/graphql.schema.json
  web/src/containers/route/remote/options/BandwidthOpts.tsx
  web/src/generated/graphql.tsx
  web/src/graph/actions/misc.graphql
Due: core, web

[web] fixed horizontal overflow in the edit-refraction menu
  web/src/containers/route/refract/RemoteSelect.tsx
Due: web

updated package lock
  web/package-lock.json
Due: web

[web] fixed build issue
  web/src/containers/route/overview/BrowserToolbar.tsx
Due: web

Path conditions:
  core: any of: core/**/*, .gitlab/ci/core.gitlab-ci.yml, .gitlab/values/core.yaml, .gitlab-ci.yml
  batch: any of: batch/**/*, .gitlab/ci/batch.gitlab-ci.yml, .gitlab/values/batch.yaml, .gitlab-ci.yml
  goproxy: any of: goproxy/**/*, .gitlab/ci/goproxy.gitlab-ci.yml, .gitlab/values/goproxy.yaml, .gitlab-ci.yml
  web: any of: web/**/*, .gitlab/ci/web.gitlab-ci.yml, .gitlab/values/web.yaml, .gitlab-ci.yml
