Repository go-prism/prism3: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core, batch, goproxy, web

core:
  trigger:
    strategy: depend
    include: .gitlab/ci/core.gitlab-ci.yml

batch:
  trigger:
    strategy: depend
    include: .gitlab/ci/batch.gitlab-ci.yml

goproxy:
  trigger:
    strategy: depend
    include: .gitlab/ci/goproxy.gitlab-ci.yml

web:
  trigger:
    strategy: depend
    include: .gitlab/ci/web.gitlab-ci.yml

Disabled code intelligence Removed asynqmon due to compilation errors
  .gitlab/ci/batch.gitlab-ci.yml
  .gitlab/ci/core.gitlab-ci.yml
  .gitlab/ci/goproxy.gitlab-ci.yml
  .gitlab/ci/web.gitlab-ci.yml
  batch/cmd/batch/main.go
  batch/go.mod
  batch/go.sum
  batch/vendor/github.com/hibiken/asynqmon/.dockerignore
  batch/vendor/github.com/hibiken/asynqmon/.gitignore
  batch/vendor/github.com/hibiken/asynqmon/CHANGELOG.md
  batch/vendor/github.com/hibiken/asynqmon/Dockerfile
  batch/vendor/github.com/hibiken/asynqmon/LICENSE
  batch/vendor/github.com/hibiken/asynqmon/Makefile
  batch/vendor/github.com/hibiken/asynqmon/README.md
  batch/vendor/github.com/hibiken/asynqmon/conversion_helpers.go
  batch/vendor/github.com/hibiken/asynqmon/handler.go
  batch/vendor/github.com/hibiken/asynqmon/metrics_handler.go
  batch/vendor/github.com/hibiken/asynqmon/queue_handlers.go
  batch/vendor/github.com/hibiken/asynqmon/redis_info_handlers.go
  batch/vendor/github.com/hibiken/asynqmon/scheduler_entry_handlers.go
  batch/vendor/github.com/hibiken/asynqmon/server_handlers.go
  batch/vendor/github.com/hibiken/asynqmon/static.go
  batch/vendor/github.com/hibiken/asynqmon/task_handlers.go
  batch/vendor/modules.txt
Due: core, batch, goproxy, web

[web] fixed some issues caused by codegen types [web] transports list now uses an Accordion
  web/src/containers/route/acl/CreateRoleBinding.tsx
  web/src/containers/route/acl/index.tsx
  web/src/containers/route/settings/Remotes.tsx
  web/src/containers/route/settings/Transports.tsx
  web/src/generated/graphql.tsx
Due: web

[web] reworked sidebar [web] partial dashboard rework fixed incorrect ingressClassName
  .gitlab/values/core.yaml
  .gitlab/values/web.yaml
  web/src/containers/Nav.tsx
  web/src/containers/SideBar.tsx
  web/src/containers/route/Dashboard.tsx
Due: core, web

[web] fixed typing issue with the ListItemButton
  web/src/containers/SideBar.tsx
  web/src/containers/route/Dashboard.tsx
  web/src/containers/route/dashboard/Widget.tsx
Due: web

[web] added new in-progress logo [core] fixed gql compilation error Added admin-only system information to the overview page
  .gitattributes
  Makefile
  core/go.mod
  core/internal/gqlgen.yml
  core/internal/graph/generated/generated.go
  core/internal/graph/model/models_gen.go
  core/internal/graph/schema.graphqls
  core/internal/graph/schema.resolvers.go
  web/graphql.schema.json
  web/logo.xcf
  web/public/favicon.png
  web/src/containers/Nav.tsx
  web/src/containers/route/Dashboard.tsx
  web/src/generated/graphql.tsx
  web/src/graph/actions/overview.graphql
Due: core, web

[web] partial rework of the Profile page [core] user context is now stored when calling GetCurrentUser
  core/internal/gqlgen.yml
  core/internal/graph/generated/generated.go
  core/internal/graph/model/models_gen.go
  core/internal/graph/schema.graphqls
  core/internal/graph/schema.resolvers.go
  core/pkg/db/datatypes/map.go
  core/pkg/db/db.go
  core/pkg/db/repo/types.go
  core/pkg/db/repo/user.go
  core/pkg/db/repo/wire.go
  web/graphql.schema.json
  web/src/App.tsx
  web/src/containers/route/Dashboard.tsx
  web/src/containers/route/Profile.tsx
  web/src/containers/route/UserSettings.tsx
  web/src/containers/route/settings/index.tsx
  web/src/containers/widgets/InlineNotFound.tsx
  web/src/generated/graphql.tsx
  web/src/graph/actions/overview.graphql
  web/src/graph/actions/rbac.graphql
Due: core, web

[web] OIDC claims can now handle mixed casing
  web/src/containers/route/Profile.tsx
Due: web

[web] reworked User Nav button [web] user information is now globally available via the React Context API
  skaffold.yaml
  web/src/App.tsx
  web/src/containers/Nav.tsx
  web/src/containers/route/Dashboard.tsx
  web/src/containers/route/Profile.tsx
  web/src/index.tsx
  web/src/utils/parse.ts
  web/store/AppProvider.tsx
  web/store/actions/user.ts
Due: web

[core] fixed minikube issues blocking OIDC local usage [web] fixed Profile icon not showing user OIDC information [web] websocket is now kept open for 60 seconds if unused
  deployments/core.yaml
  web/src/containers/Nav.tsx
  web/src/graph/index.ts
  web/src/utils/parse.ts
Due: web

Initial support for user preferences
  core/internal/graph/generated/generated.go
  core/internal/graph/model/models_gen.go
  core/internal/graph/schema.graphqls
  core/internal/graph/schema.resolvers.go
  core/pkg/db/repo/user.go
  web/graphql.schema.json
  web/src/App.tsx
  web/src/config/constants.ts
  web/src/containers/route/UserSettings.tsx
  web/src/containers/route/user/UserPreferences.tsx
  web/src/generated/graphql.tsx
  web/src/graph/actions/rbac.graphql
Due: core, web

Fixed some issues with the dark theme
  web/src/App.tsx
  web/src/containers/layout/SidebarLayout.tsx
  web/src/containers/route/user/UserPreferences.tsx
Due: web

Added support for remote TLS configuration (closes #25) Added support for remote Proxy configuration (closes #26) Generic remotes no longer cache web resources (html, css, js)
  batch/vendor/gitlab.com/go-prism/prism3/core/internal/graph/model/models_gen.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/db/datatypes/map.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/db/db.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/db/repo/types.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/db/repo/user.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/db/repo/wire.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/httpclient/backed.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/remote/backed.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/remote/ephemeral.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/remote/helm.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/remote/pypi.go
  batch/vendor/golang.org/x/net/http/httpproxy/proxy.go
  batch/vendor/modules.txt
  core/internal/policy/remote.go
  core/internal/policy/remote_test.go
  core/internal/refract/refract.go
  core/pkg/httpclient/backed.go
  core/pkg/httpclient/backed_test.go
  core/pkg/remote/backed.go
  core/pkg/remote/ephemeral.go
  core/pkg/remote/ephemeral_test.go
  core/pkg/remote/helm.go
  core/pkg/remote/pypi.go
  deployments/core.yaml
Due: core, batch

[core] added listen/notify support [web] added dynamic preference updates
  core/cmd/core/main.go
  core/go.mod
  core/internal/graph/generated/generated.go
  core/internal/graph/resolver.go
  core/internal/graph/schema.graphqls
  core/internal/graph/schema.resolvers.go
  core/pkg/db/notify/listen.go
  core/pkg/db/notify/notify.go
  core/pkg/db/notify/trigger.sql
  core/pkg/db/notify/types.go
  core/pkg/db/repo/remote.go
  core/pkg/db/repo/user.go
  core/pkg/schemas/notify.go
  core/pkg/schemas/types.go
  skaffold.yaml
  web/graphql.schema.json
  web/src/App.tsx
  web/src/config/constants.ts
  web/src/containers/Nav.tsx
  web/src/containers/route/Profile.tsx
  web/src/containers/route/overview/info/setup/DefaultInstall.tsx
  web/src/containers/route/refract/setup/Setup.tsx
  web/src/containers/route/user/UserPreferences.tsx
  web/src/generated/graphql.tsx
  web/src/graph/actions/rbac.graphql
  web/src/hooks/usePref.tsx
  web/src/index.tsx
  web/store/AppProvider.tsx
  web/store/actions/user.ts
Due: core, web

[web] added generic artifact setup information [web] artifact setup registry config is now optional
  web/src/containers/route/overview/ObjectInfo.tsx
  web/src/containers/route/overview/info/setup/GenericInstall.tsx
  web/src/containers/route/overview/info/setup/HelmInstall.tsx
  web/src/containers/route/overview/info/setup/PyPiInstall.tsx
  web/src/containers/route/overview/info/setup/index.tsx
Due: web

[web] re-enabled artifact file previews
  web/src/containers/route/overview/info/FilePreview.tsx
Due: web

[web] added experimental ListView for artifacts
  web/package-lock.json
  web/package.json
  web/src/App.tsx
  web/src/containers/list/FolderTreeItem.tsx
  web/src/containers/route/overview/Browser.tsx
  web/src/containers/route/overview/BrowserList.tsx
  web/src/containers/route/overview/BrowserToolbar.tsx
  web/src/containers/route/overview/BrowserTree.tsx
  web/src/index.css
  web/src/utils/remote.tsx
Due: web

[web] added drawer to view object info when in artifact list view [web] reworked LanguageInstall to enable copying of snippets
  web/src/containers/route/overview/BrowserList.tsx
  web/src/containers/route/overview/ObjectInfo.tsx
  web/src/containers/route/overview/info/setup/AlpineInstall.tsx
  web/src/containers/route/overview/info/setup/DebianInstall.tsx
  web/src/containers/route/overview/info/setup/GenericInstall.tsx
  web/src/containers/route/overview/info/setup/GoLangInstall.tsx
  web/src/containers/route/overview/info/setup/HelmInstall.tsx
  web/src/containers/route/overview/info/setup/JavaInstall.tsx
  web/src/containers/route/overview/info/setup/NpmInstall.tsx
  web/src/containers/route/overview/info/setup/PyPiInstall.tsx
  web/src/containers/route/overview/info/setup/index.tsx
Due: web

[core] added support for cache partitioning (see #9) [core] added initial support for authenticated remote requests (see #9) [web] added (disabled) page for configuring refraction authentication
  core/internal/impl/npmapi/packages.go
  core/internal/impl/pypiapi/simple.go
  core/internal/refract/backed.go
  core/internal/refract/refract.go
  core/internal/resolver/simple.go
  core/pkg/httpclient/auth.go
  core/pkg/remote/backed.go
  core/pkg/remote/backed_test.go
  core/pkg/remote/ephemeral.go
  core/pkg/remote/ephemeral_test.go
  core/pkg/remote/helm.go
  core/pkg/remote/pypi.go
  core/pkg/remote/testdata/file.txt
  core/pkg/remote/types.go
  core/pkg/storage/noop.go
  web/src/containers/route/refract/Edit.tsx
  web/src/containers/route/refract/options/RefractAuth.tsx
  web/src/containers/route/refract/options/Setup.tsx
Due: core, web

[core] fixed module metadata issues [batch] fixed incorrect function usage
  batch/internal/task/helmidx/index.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/db/repo/artifact.go
  core/go.mod
  core/go.sum
Due: core, batch

Added user and trace logging
  batch/cmd/batch/main.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/sre/trace.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/sre/types.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/sre/user.go
  batch/vendor/modules.txt
  core/cmd/core/main.go
  core/internal/graph/schema.resolvers.go
  core/pkg/sre/trace.go
  core/pkg/sre/types.go
  core/pkg/sre/user.go
  goproxy/cmd/goproxy/main.go
  goproxy/go.mod
  goproxy/vendor/gitlab.com/go-prism/prism3/core/pkg/sre/trace.go
  goproxy/vendor/gitlab.com/go-prism/prism3/core/pkg/sre/types.go
  goproxy/vendor/gitlab.com/go-prism/prism3/core/pkg/sre/user.go
  goproxy/vendor/modules.txt
Due: core, batch, goproxy

Added additional OpenTelemetry instrumentation (see #11) GoProxy transport now uses H2C
  core/go.mod
  core/go.sum
  core/internal/api/v1/generic.go
  core/internal/api/v1/go.go
  core/internal/api/v1/helm.go
  core/internal/api/v1/npm.go
  core/internal/api/v1/rest.go
  core/internal/graph/resolver.go
  core/internal/refract/backed.go
  core/internal/refract/refract.go
  core/internal/resolver/npm.go
  core/internal/resolver/pypi.go
  core/internal/resolver/simple.go
  core/pkg/db/notify/notify.go
  core/pkg/httpclient/auth.go
  core/pkg/remote/backed.go
  core/pkg/remote/ephemeral.go
  core/pkg/remote/helm.go
  core/pkg/remote/pypi.go
Due: core

Services now report the correct service name in traces [goproxy] added missing writable package directory
  .gitlab/values/goproxy.yaml
  batch/cmd/batch/main.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/tracing/init.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/tracing/types.go
  core/cmd/core/main.go
  core/pkg/tracing/init.go
  core/pkg/tracing/types.go
  goproxy/cmd/goproxy/main.go
  goproxy/vendor/gitlab.com/go-prism/prism3/core/pkg/tracing/init.go
  goproxy/vendor/gitlab.com/go-prism/prism3/core/pkg/tracing/types.go
Due: core, batch, goproxy

Added additional default trace tags
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/tracing/init.go
  core/pkg/tracing/init.go
  goproxy/vendor/gitlab.com/go-prism/prism3/core/pkg/tracing/init.go
Due: core, batch, goproxy

Updated dependencies
  batch/cmd/batch/main.go
  batch/go.mod
  batch/go.sum
  batch/vendor/github.com/djcass44/go-utils/flagging/client.go
  batch/vendor/github.com/djcass44/go-utils/otel/types.go
  batch/vendor/github.com/djcass44/go-utils/otel/wire.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/tracing/types.go
  batch/vendor/golang.org/x/net/http2/server.go
  batch/vendor/golang.org/x/sys/unix/syscall_darwin.go
  batch/vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.go
  batch/vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.s
  batch/vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.go
  batch/vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.s
  batch/vendor/modules.txt
  core/cmd/core/main.go
  core/go.mod
  core/go.sum
  core/pkg/tracing/types.go
  goproxy/cmd/goproxy/main.go
  goproxy/go.mod
  goproxy/go.sum
  goproxy/vendor/github.com/djcass44/go-utils/flagging/client.go
  goproxy/vendor/github.com/djcass44/go-utils/otel/types.go
  goproxy/vendor/github.com/djcass44/go-utils/otel/wire.go
  goproxy/vendor/gitlab.com/go-prism/prism3/core/pkg/tracing/types.go
  goproxy/vendor/golang.org/x/net/http2/server.go
  goproxy/vendor/golang.org/x/sys/unix/syscall_darwin.go
  goproxy/vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.go
  goproxy/vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.s
  goproxy/vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.go
  goproxy/vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.s
  goproxy/vendor/modules.txt
Due: core, batch, goproxy

Fixed otel initialiser never logging
  batch/cmd/batch/main.go
  core/cmd/core/main.go
  goproxy/cmd/goproxy/main.go
Due: core, batch, goproxy

[core] fixed a number of authentication issues [core] fixed a number of log key mismatches
  core/internal/policy/remote.go
  core/internal/refract/refract.go
  core/internal/resolver/simple.go
  core/pkg/httpclient/auth.go
  core/pkg/httpclient/auth_test.go
  core/pkg/remote/backed.go
  core/pkg/remote/ephemeral.go
  core/pkg/remote/gitlab_test.go
  core/pkg/schemas/ctx.go
  core/pkg/schemas/types.go
  web/src/containers/route/refract/Edit.tsx
  web/src/containers/route/refract/options/RefractAuth.tsx
Due: core, web

[core] added workaround for S3 HEAD requests returning 403
  batch/vendor/gitlab.com/go-prism/prism3/core/internal/features/consts.go
  batch/vendor/gitlab.com/go-prism/prism3/core/internal/partition/gitlab.go
  batch/vendor/gitlab.com/go-prism/prism3/core/internal/partition/types.go
  batch/vendor/gitlab.com/go-prism/prism3/core/internal/policy/remote.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/httpclient/auth.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/remote/backed.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/remote/ephemeral.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/schemas/ctx.go
  batch/vendor/gitlab.com/go-prism/prism3/core/pkg/schemas/types.go
  core/internal/features/consts.go
  core/internal/partition/gitlab.go
  core/internal/partition/types.go
  core/pkg/remote/backed.go
  core/pkg/remote/ephemeral.go
Due: core, batch

[core] added feature flag to disable zero-range GET requests (closes #32)
  core/pkg/remote/ephemeral.go
Due: core

Added initial untested Helm chart
  charts/prism/.helmignore
  charts/prism/Chart.yaml
  charts/prism/templates/NOTES.txt
  charts/prism/templates/_helpers.tpl
  charts/prism/templates/deployment-batch.yaml
  charts/prism/templates/deployment-core.yaml
  charts/prism/templates/deployment-goproxy.yaml
  charts/prism/templates/hpa-core.yaml
  charts/prism/templates/ingress.yaml
  charts/prism/templates/secret-core.yaml
  charts/prism/templates/service-core.yaml
  charts/prism/templates/service-goproxy.yaml
  charts/prism/templates/serviceaccount.yaml
  charts/prism/values.yaml
Due: none

[chart] added web deployment
  charts/prism/templates/_helpers.tpl
  charts/prism/templates/deployment-web.yaml
  charts/prism/templates/service-web.yaml
  charts/prism/values.yaml
Due: none

[chart] added redis dependency
  .gitignore
  charts/prism/Chart.lock
  charts/prism/Chart.yaml
  charts/prism/README.md
  charts/prism/templates/NOTES.txt
  charts/prism/templates/deployment-core.yaml
  charts/prism/templates/deployment-goproxy.yaml
  charts/prism/templates/deployment-web.yaml
  charts/prism/templates/secret-core.yaml
  charts/prism/values.yaml
Due: none

[skip ci] [chart] added postgresql dependency
  charts/prism/Chart.lock
  charts/prism/Chart.yaml
  charts/prism/values.yaml
Due: none

[web] added foundation for in-application documentation [web] improved developer workflow Added explicit LICENCE file
  LICENSE
  deployments/core.yaml
  deployments/k8s-pod.yaml
  deployments/web-proxy.yaml
  skaffold.yaml
  web/package-lock.json
  web/package.json
  web/src/App.tsx
  web/src/components/Documentation.tsx
  web/src/containers/Nav.tsx
  web/src/containers/route/Dashboard.tsx
  web/src/containers/route/Help.tsx
  web/src/docs/admin-overview.md
  web/src/docs/configure-auth.md
  web/src/docs/configure-oidc.md
  web/src/docs/configure-pki.md
  web/src/docs/install-requirements.md
  web/src/docs/install.md
  web/src/docs/overview.md
  web/src/docs/remote-settings-auth.md
  web/src/docs/remote-settings-firewall.md
  web/src/docs/remote-settings-transport.md
  web/src/docs/user-changelog.md
  web/src/docs/user-overview.md
  web/vite.config.ts
Due: web

[core] improved method of wiping data fetched by anonymous users
  core/cmd/core/main.go
  core/internal/graph/model/hooks.go
  core/internal/graph/resolver.go
  core/pkg/db/repo/refract.go
  core/pkg/db/repo/remote.go
Due: core

Path conditions:
  core: any of: core/**/*, .gitlab/ci/core.gitlab-ci.yml, .gitlab/values/core.yaml, .gitlab-ci.yml
  batch: any of: batch/**/*, .gitlab/ci/batch.gitlab-ci.yml, .gitlab/values/batch.yaml, .gitlab-ci.yml
  goproxy: any of: goproxy/**/*, .gitlab/ci/goproxy.gitlab-ci.yml, .gitlab/values/goproxy.yaml, .gitlab-ci.yml
  web: any of: web/**/*, .gitlab/ci/web.gitlab-ci.yml, .gitlab/values/web.yaml, .gitlab-ci.yml
